.form-group {
    margin-top: 5px;
    label {
        display: block;
        margin-bottom: 5px;
        font-size: 17px;
    }
    .form-control {
        width: 50%;
        padding: .375rem .75rem;
        font-size: 1rem;
        line-height: 1.5;
        color: #495057;
        background-color: #fff;
        background-clip: padding-box;
        border: 1px solid #ced4da;
        border-radius: .25rem;
    }
}

.form-group-inline {
    display: inline-block;
    margin-top: 5px;
    label {
        display: block;
        margin-bottom: 5px;
        font-size: 17px;
    }
    .form-control {
        width: 50%;
        padding: .375rem .75rem;
        font-size: 1rem;
        line-height: 1.5;
        color: #495057;
        background-color: #fff;
        background-clip: padding-box;
        border: 1px solid #ced4da;
        border-radius: .25rem;
    }
}

.btn {
    cursor: pointer;
    color: #fff;
    background-color: #007bff;
    border-color: #007bff;
    display: inline-block;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    border: 1px solid transparent;
    padding: .375rem .75rem;
    margin: 10px;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: .25rem;
    margin-top: 10px;
}

.detail-form {
    padding: 20px;
    background: #fffbfb;
}